beautifulsoup4==4.4.1
dj-database-url==0.4.1
Django==1.8
pbr==1.10.0
pync==1.6.1
python-dateutil==2.4.2
six==1.10.0
stevedore==1.17.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
