{% extends 'board/base.html' %}

{% block content %}

<!--
    <div id="searchContainer">
        <ul class="input-list style-2 clearfix" style="margin-left: -45px">
          <input type="text" placeholder="Search here (this is a close hold)..." style="font-size:16px" onclick="$('#resultList').empty(); $('#resultSum').empty(); this.value='';">
        </ul> 
    </div>

<div class="row" id="resultRow">

    <div id="leftMargin">
    </div>
    
    <div id="resultArea">
        <p id="resultSum"></p> <br/> <br/>
        <p id="resultList"></p>
    </div>

</div>

-->
    {% for post in posts %}
        <div class="parent_1">
            <div class="vote">
                <span class="glyphicon glyphicon-plus"></span>/<span class="glyphicon glyphicon-minus"></span><p>100</p>
            </div>
            <div class="post">
                <h3>To <a href="{% url 'to_posts' to_field=post.to_field %}" class="to">{{ post.to_field }}</a>, you can <a href="{% url 'post_detail' pk=post.pk %}" class="do">{{ post.do_field }}</a>.</h3>
                <p class="sub">Genre: <a href="{% url 'genre_posts' content_type=post.content_type %}">  {{ post.content_type }}</a> // Remember when: <a href="{% url 'remember_posts' when=post.when %}">  {{ post.when }}</a> // Shared by: <a href="{% url 'user_posts' author=post.author %}"> {{ post.author }}</a></p>
                <p class="sub">{{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}

    {% if posts.has_other_pages %}
        <div id="outer-pages">
            <nav aria-label="Page navigation" id="inner-pages">
              <ul class="pagination">
                <li class="page-item">
                {% if posts.has_previous %}
                  <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                {% else %}
                  <a class="page-link" id="dead-link" aria-label="Previous">
                {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" id="dead-link">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
                <li class="page-item">
                {% if posts.has_next %}
                  <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Previous">
                {% else %}
                  <a class="page-link" aria-label="Next" id="dead-link">
                {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
    {% endif %}




{% endblock %}


