{% extends 'board/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h3>To <a href="{% url 'post_detail' pk=post.pk %}" class="to">{{ post.to_field }}</a>, you can <a href="{% url 'post_detail' pk=post.pk %}" class="do">{{ post.do_field }}</a>.</h3>
            <p class="sub">Genre: <a href="{% url 'post_detail' pk=post.pk %}">  {{ post.content_type }}</a> // Remember when: <a href="{% url 'post_detail' pk=post.pk %}">  {{ post.when }}</a> // Shared by: <a href="{% url 'post_detail' pk=post.pk %}"> {{ post.author }}</a></p>
            <p class="sub">Created: <a href="{% url 'post_detail' pk=post.pk %}"> {{ post.published_date }}</a></p>
        </div>
    {% endfor %}
{% endblock %}



